@import url('https://raw.githubusercontent.com/vorlie/funi-dont-look/main/test/root.css');

/* change colors here */
/* a color picker should show up if you hover over the "hsl(x, y, z)", "#000000" part */
:root {
	/* link color */
	--link-color: #e1b6ff;

	/* main accent color (mentions, folder icons, unread indicators) */
	--accent-color: #e1b6ff;

	/* darker accent color (background of any accent items with text) */
	--accent-background: #8a63a3;

	/* even darker accent color (background of accent buttons when hover) */
	--accent-background-2: #784a9a;

	/* even darker accent color (background of accent buttons when clicked) */
	--accent-background-3: #382c42;

	/* background of mention text and messages that mention you */
	--mention-modifier: #8233cc1a;

	/* background of messages that mention you on hover */
	--mention-hover-modifier: #8233cc0d;

	/* bright text for colored buttons */
	--bright-text: #eeddf5;

	/* header text for headers and certain text */
	--header-text: #dab1eb;

	/* main text color (messages, titles, unread text/indicators) */
	--primary-text: #d492f0;

	/* secondary text color (channels, descriptions, buttons) */
	--secondary-text: #d492f0;

	/* muted text color (input box placeholders, muted channels, message times) */
	--muted-text: #4b454d;

	/* background of muted colored buttons on hover */
	--muted-background-hover: #322b3b;

	/* background of muted colored buttons on click */
	--muted-background-active: #29232f;

	/* background of pretty much everything not using primary background */
	--secondary-background: #211c26;

	/* main chat/channel list/member list background */
	--primary-background: #19161d;

	/* overlay background on stuff when hovered over */
	--hover-modifier: #65527a1a;

	/* overlay background on stuff when clicked or selected */
	--active-modifier: #68527a33;

	/* overlay background on messages when hovered over */
	--message-hover-modifier: #0000001a;
    
	/* radius of round corners */
	--roundness: 16px;
}

::selection {
    color: var(--accent-color);
    background: var(--accent-background-3);
  }